*,
*::before,
*::after {
  box-sizing: border-box;
}

/*input fields */

#announcement-input {
  box-sizing: border-box;
  width: 50%;
  margin: 0 auto;
  text-align: center; 
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto; /* Two columns */
  gap: 10px; /* Gap between columns */
}

.left-column {
  display: grid;
  grid-template-rows: auto auto; /* Two rows */
  gap: 10px; /* Gap between rows */
}

label {
  grid-column: 1; /* Position labels in the first column */
  text-align: right;
}

input {
  grid-column: 2; /* Position inputs in the second column */
}

.right-column {
  display: grid;
  grid-template-rows: repeat(2, 50px);
  gap: 10px;
}


#add-button,
#all-button {
  width: 200px; /* Set the desired width for the buttons */
}

/*Note list fields*/

#note-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 auto;
    border: 2px solid black;
    padding: 15px;
    height: 80vh;
    grid-gap: 10px 10px;
  }

  @media (max-width: 600px) { 
    #note-list {
        grid-template-columns: 1fr;
        justify-items: center;
    }
  }


  #note-input {
    margin-bottom: 5px;
  }
  
  #content-input {
    height: 150px; /* Adjust the height as needed */
  }

 /* sticky note*/
  .sticky-note {
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    padding: 0.5em;
    font-weight: 700;
    border: 10px solid black;
  }


  .sticky-header {
    display: flex;
    justify-content: flex-end;
    text-align: center;
  }
  

  .close-btn {
    cursor: pointer;
  }
  
  
  /* you need to define the fadeIn keyframe property for it to work */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

