#announcement-input {
  box-sizing: border-box;
  width: 50%;
  margin: 0 auto;
  text-align: center; 
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto; /* Two columns */
  gap: 10px; /* Gap between columns */
}

.left-column {
  display: grid;
  grid-template-rows: auto auto; /* Two rows */
  gap: 10px; /* Gap between rows */
}

label {
  grid-column: 1; /* Position labels in the first column */
  text-align: right;
}

input {
  grid-column: 2; /* Position inputs in the second column */
}

.right-column {
  display: grid;
  grid-template-rows: repeat(2, 50px);
  gap: 10px;
}


#add-button,
#all-button {
  width: 200px; /* Set the desired width for the buttons */
}













#note-list {
    margin: 20px;
    border: 2px solid black;
    padding: 15px;
    height: 80vh;
  }
  
  #note-input {
    margin-bottom: 5px;
  }
  
  #content-input {
    height: 150px; /* Adjust the height as needed */
  }

 /* sticky note*/
  .sticky-note {
    width: 300px;
    height: auto;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
   /*  position: absolute; */
    top: 50px;
    left: 50px;
   /*  z-index: 1000; */
  }
  
  .sticky-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .close-btn {
    cursor: pointer;
  }
  
  .sticky-content {
    min-height: 100px;
  }
  
  
  /* you need to define the fadeIn keyframe property for it to work */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

